h1{
    font-family: "Open Sans", sans-serif;
    color:#2d3c49;
    font-size: 40px;
}

h2{
    font-family: "Open Sans", sans-serif;
}

h3 {
    font-family: "Open Sans", sans-serif;
    color:#2d3c49;
}

hr {
    border: none;
    height: 4px;
    /* Set the hr color */
    color: #7d97ad; /* old IE */
    background-color: #7d97ad; /* Modern Browsers */
}

header img {
    margin-top: 20px;
}